@import url("https://fonts.googleapis.com/css?family=Roboto");

@font-face {
  font-family: Anjoman-bold;
  src: url("../fonts/Anjoman-ExtraBold.woff");
}

@font-face {
  font-family: Anjoman-light;
  src: url("../fonts/Anjoman-ExtraLight.woff");
}

@font-face {
  font-family: Anjoman-medium;
  src: url("../fonts/Anjoman-Medium.woff");
}

@font-face {
  font-family: Anjoman-regular;
  src: url("../fonts/Anjoman-Black.woff");
}

*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Anjoman-medium;
}

.header-input {
  direction: rtl;
  outline: none;
}

.hp-img {
  width: 126px;
  height: 104px;
}

li {
  list-style: none;
}

a {
  color: #f11f19 !important;
  text-decoration: none !important;
}

.hisun-red {
  background-color: #f11f19;
}

.input-container {
  display: flex;
  border: 1px solid;
  height: 50px;
  /* justify-content: center; */
  align-items: center;
  padding: 5px 10px 5px 5px;
  justify-content: center;
  align-items: center;
  border: none;
  /* gap: 161px; */
  border-radius: 10px;
  background: #fffbfa;
  box-shadow: 0px 2.5px 5px 0px rgba(241, 31, 25, 0.25) inset;
  width: 100%;
  max-width: 400px;
}

.input-fd {
  flex: 90%;
}

.input-fd input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.input-sd {
  flex: 10%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #f11f19;
}

#profilepic {
  background-image: url("../assets/img/userProfile.png");
  background-size: cover;
  height: 54px;
  width: 54px;
}

.hp-header-divider {
  width: 1px;
  height: 35px;
  background-color: #000;
}

.d-hidd-desk {
  display: none;
}

/* navbar started start*/
i {
  margin-right: 10px;
}

.nav-link-custome {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 175px;
}

/*----------bootstrap-navbar-css------------*/
.navbar-logo {
  padding: 15px;
  color: #fff;
}

.navbar-mainbg {
  background-color: #f11f19;
  padding: 0px;
}

#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}

#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}

#navbarSupportedContent ul li a i {
  margin-right: 10px;
}

#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}

#navbarSupportedContent ul li a {
  color: #000 !important;
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

#navbarSupportedContent > ul > li.active > a {
  color: #f11f19 !important;
  background-color: transparent;
  transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}

#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}

.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #dfd3c8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #dfd3c8;
  bottom: 10px;
}

.hori-selector .right {
  right: -25px;
}

.hori-selector .left {
  left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f11f19;
}

.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}

.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

/* navbar end */

/* first homepage carousel start*/

.carousel-imgs {
  border-radius: 40px;
}

.carousel-btns {
  width: 12px !important;
  background: #f11f19 !important;
  height: 100px !important;
  margin: auto !important;
  border-radius: 0px 24px 24px 0px !important;
}

.carousel-btn-left {
  border-radius: 24px 0 0 24px !important;
}

.hp-cards-img {
  display: flex;
  width: 85.097px;
  height: 85.097px;
  padding: 15.759px;
  justify-content: center;
  align-items: center;
  gap: 3.152px;
  flex-shrink: 0;
  border-radius: 27.578px;
  background: #f11f19;
}

.hp-cards {
  height: 294.686px;
  padding: 50.428px 25.214px;
  border-radius: 31.517px;
  background-color: #fff;
}

.hp-cards span {
  color: #282828;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.hp-cards span {
  color: #f11f19;
  text-align: center;
  font-family: Anjoman-medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.hp-bigbanner {
  width: 100%;
  height: 526px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1256px;
  border-radius: 24px;

  background-image: url("../assets/img/homepageherosecbanner.png");
  background-size: cover;
}

.hp-bigbanner-card {
  width: 708px;
  height: 402px;
  flex-shrink: 0;
  border-radius: 24px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 50px;
  margin-left: -100px;
}

.hp-bigbanner-card span {
  color: #282828;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}

.hp-bigbanner-card p {
  color: #8b8b8b;
  text-align: right;
  font-family: Anjoman-medium;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.hp-bigbanner-card button,
.hp-btn {
  width: 180px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f11f19;
  border: none;
  color: #fff;
}

.hp-single {
  max-width: 556px;
  height: 344px;
  background-size: cover;
  border-radius: 32px;
  margin: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #f11f19;
}

.hp-single span {
  border-radius: 10px;
  padding: 10px;
}

.hp-single-pr {
  background-image: url("../assets/img/hpcardsimgr.png");
}

.hp-single-pr span {
  background-color: #f4e8dd;
}

.hp-single-pl {
  background-image: url("../assets/img/hpcardsimgl.png");
}

.hp-single-pl span {
  background-color: #f4e8dd;
}

.hp-favpro-text {
  width: 350px;
}

.hp-favpro-text span {
  color: #282828;
  text-align: right;
  font-family: Anjoman-medium;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.2px;
}

.hp-favpro-text p {
  width: 316px;
  height: 5px;
  background: #f11f19;
  border-radius: 5px;
}

.client-logos-container {
  height: 95px;
  background: #f11f19;
}

.client-logos img {
  height: 42px;
}

.hp-about-hisun span {
  font-size: 14px;
  margin: 50px 0;
}

.hp-about-hisun a {
  color: #f11f19;
  text-decoration: none;
  transition: all 0.5s;
  width: 135px;
  text-align: center;
}

.hp-about-hisun a:hover {
  color: #f11f19;
}

.blogs-cards-container {
  padding: 0;
  border-radius: 124px 124px 24px 24px !important;
  width: 315px;
  max-height: 354px;
}

.blogs-card-hover button {
  border-radius: 10px;
  background: rgba(58, 121, 160, 0.2);
  backdrop-filter: blur(5px);
  display: flex;
  padding: 8px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  color: #fff;
}

.blogs-card-hover {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  border-radius: 124px 124px 24px 24px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.5s;
}

.blogs-card-hover:hover {
  opacity: 1;
}

.hp-blogs-container {
  border-radius: 40px;
  background: rgba(255, 251, 250, 0.5);
}

.blogs-image-container {
  height: 500px;
}

.blogs-image-container div img {
  width: 100%;
  height: 100%;
  border-radius: 124px 124px 24px 24px;
}

.blogs-htext {
  color: #282828;
  text-align: right;

  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
}

.blogs-htext span {
  color: #f11f19;
}

.footer-custome {
  background-color: black;
  color: #ffffff;
  max-width: 1900px;
}

.footer-eform input {
  display: flex;
  width: 368px;
  height: 60px;
  padding: 10px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
}

.footer-eform input:focus {
  outline: none;
}

.footer-eform button {
  width: 155px;
  height: 48px;
}

.footer-divider {
  height: 1px;
  background: linear-gradient(
    270deg,
    rgba(255, 251, 250, 0) 0%,
    #fffbfa 49.6%,
    rgba(255, 251, 250, 0) 99.2%
  );
}

.eskano-text {
  color: #f11f19;
}

.eskano-text em {
  color: #fff;
}

.eskano-img {
  width: 40px;
  height: 40px;
}

.notfound-img {
  width: 679px;
  height: 679px;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-expand-custom .navbar-toggler {
    display: none;
  }

  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }

  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }

  .hori-selector .left {
    top: -25px;
    left: auto;
  }

  .hori-selector .right {
    bottom: -25px;
  }

  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }

  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }

  .my-container {
    display: none !important;
  }

  .hp-cards-img {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    padding: 3px;
  }

  .hp-cards {
    width: 122px;
    height: 102px;
    font-size: 8px;
  }

  .hp-cards span {
    font-size: 8px;
  }

  .hp-bigbanner {
    width: 359px;
    height: 176px;
  }

  .hp-bigbanner-card {
    width: 173px;
    height: 98px;
    padding: 10px;
    margin-left: -20px;
  }

  .hp-bigbanner-card span {
    font-size: 12px;
    line-height: 20px;
  }

  .hp-bigbanner-card p {
    font-size: 6px;
    line-height: 10px;
  }

  .hp-bigbanner-card button,
  .hp-btn {
    width: 72px;
    height: 20px;
    font-size: 8px;
    font-weight: 600;
    border-radius: 8px;
  }

  .hp-about-hisun-desk {
    display: none;
  }

  .footer-eform input {
    width: 300px;
    height: 50px;
  }

  .footer-eform button {
    width: 100px;
    height: 35px;
    font-size: 17px;
  }

  .d-hidd-desk {
    display: block;
  }

  /* carousel responsive start */
  .carousel-btns {
    display: none;
  }

  .carousel-imgs {
    border-radius: 10px !important;
  }

  .p-0-resp {
    padding: 0 !important;
  }

  .blogs-htext {
    font-size: 14px;
  }

  .blogs-image-container {
    height: 200px;
  }

  .blogs-card-hover {
    padding: 25px 0;
  }

  .d-r-n {
    display: none;
  }

  #profilepic {
    height: 30px;
    width: 30px;
  }

  .notfound-img {
    width: 326px;
    height: 326px;
  }

  /* carousel responsive end */
}

/* navbar started end */

/* dashboard styles start */

body {
  background: #dfd3c8;
}
a {
  text-decoration: none;
}
.second-color {
  background-color: #f11f19;
  color: #dfd3c8;
}
.dash-white {
  border: 0.5px solid #282828;
  background: #fffbfa;
}
.side-part {
  height: 850px;
}
.search-box-dash {
  border-radius: 20px;
  background: rgba(241, 31, 25, 0.1);
  border: none;
  max-width: 275px;
  height: 63px;
  flex-shrink: 0;
}
.exit-btn {
  border-radius: 15px;
  background: #fee5e3;
}
.ticket-back {
  background-color: #fff;
}

/* dashboard styles end */

/* sorathesab styles  start*/
body {
  background: #dfd3c8;
}
.second-color {
  background-color: #f11f19;
  color: #dfd3c8;
}
.dash-white {
  border: 0.5px solid #282828;
  background: #fffbfa;
}
.side-part {
  height: 850px;
}
.search-box-dash {
  border-radius: 20px;
  background: rgba(241, 31, 25, 0.1);
  border: none;
  max-width: 275px;
  height: 63px;
  flex-shrink: 0;
}
.exit-btn {
  border-radius: 15px;
  background: #fee5e3;
}
.name-info-details {
  border-radius: 10px;
  border: 1px solid #f11f19;
  background: rgba(217, 217, 217, 0.3);
}
.sabt-btns {
  width: 180px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f11f19;
  color: #fff;
}
/* sorathesab styles end */

/* sefareshat styles start */
body {
  background: #dfd3c8;
}
.second-color {
  background-color: #f11f19;
  color: #dfd3c8;
}
.dash-white {
  border: 0.5px solid #282828;
  background: #fffbfa;
}
.white-f {
  background: #fffbfa;
}
.side-part {
  height: 850px;
}
.search-box-dash {
  border-radius: 20px;
  background: rgba(241, 31, 25, 0.1);
  border: none;
  max-width: 275px;
  height: 63px;
  flex-shrink: 0;
}
.sabt-btns {
  width: 180px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f11f19;
  color: #fff;
}
.exit-btn {
  border-radius: 15px;
  background: #fee5e3;
}
.chart-colors {
  /* border: 1px solid #F11F19; */
  background: rgba(217, 217, 217, 0.3);
}
.return-btns {
  border-radius: 10px;
  border: 1px solid #f00;
  color: #f11f19;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 12px !important;
  }
}
/* sefareshat styles end */

/* sefareshat 2 styles start */
body {
  background: #dfd3c8;
}
.second-color {
  background-color: #f11f19;
  color: #dfd3c8;
}
.dash-white {
  border: 0.5px solid #282828;
  background: #fffbfa;
}
.white-f {
  background: #fffbfa;
}
.side-part {
  min-height: 778px;
  max-height: 850px;
}
.search-box-dash {
  border-radius: 20px;
  background: rgba(241, 31, 25, 0.1);
  border: none;
  max-width: 275px;
  height: 63px;
  flex-shrink: 0;
}
.sabt-btns {
  width: 180px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f11f19;
  color: #fff;
}
.exit-btn {
  border-radius: 15px;
  background: #fee5e3;
}
.table-back-c {
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.3);
}
@media screen and (max-width: 768px) {
  body {
    font-size: 12px !important;
  }
}
/* sefareshat 2 styles end */

/* admin profile styles start */
body {
  background: #dfd3c8;
}
.second-color {
  background-color: #f11f19;
  color: #dfd3c8;
}
.dash-white {
  border: 0.5px solid #282828;
  background: #fffbfa;
}
.white-f {
  background: #fffbfa;
}
.side-part {
  min-height: 778px;
  max-height: 850px;
}
.search-box-dash {
  border-radius: 20px;
  background: rgba(241, 31, 25, 0.1);
  border: none;
  max-width: 275px;
  height: 63px;
  flex-shrink: 0;
}
.sabt-btns {
  width: 180px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f11f19;
  color: #fff;
}
.exit-btn {
  border-radius: 15px;
  background: #fee5e3;
}
.name-info-details {
  border-radius: 10px;
  border: 1px solid #f11f19;
  background: rgba(217, 217, 217, 0.3);
  padding: 8px;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 12px !important;
  }
}
/* admin profile end  */

/* payment 1 styles start  */
body {
  background: #dfd3c8;
}
.payment-b {
  border-radius: 40px;
  border: 0.5px solid #282828;
  background: #fffbfa;
  /* max-height: 966px; */
}
.payment-btns {
  border-radius: 10px;
  background: #f11f19;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .table-back-c {
    border-radius: 10px !important;
    background: rgba(217, 217, 217, 0.3) !important;
  }
  .border-end,
  .border-start,
  .border-top {
    border: none !important;
  }
  .payment-b {
    padding: 30px !important;
  }
}
/* payment 1 styles end  */

/* payment 2 styles start  */
body {
  background: #dfd3c8;
}
.payment-b {
  border-radius: 40px;
  border: 0.5px solid #282828;
  background: #fffbfa;
  /* max-height: 966px; */
}
.payment-price {
  border-radius: 40px;
  border: 0.5px solid #282828;
  background: #fffbfa;
  max-height: 470px;
}
.name-info-details {
  border-radius: 10px;
  border: 1px solid #f11f19;
  background: rgba(217, 217, 217, 0.3);
}
.sabt-btns {
  width: 180px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f11f19;
  color: #fff;
}
/* payment 2 styles end  */

/*// sign in// , sign up , forget pass styles start  */
body {
  background: #dfd3c8;
}
.gray-back {
  border-radius: 40px;
  background: #c3c3c3;
}
.red-back {
  border-radius: 40px;
  background: #f11f19;
  height: 443px;
}
.white-back {
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(241, 31, 25, 0.3) inset;
}
.inpts-spans {
  border-radius: 10px 0 0 10px !important;
  background: #f4f4f4;
  border-radius: 10px;
  border: 1px solid #f11f19;
}
.sign-up-inpts {
  border-radius: 0 10px 10px 0 !important;
  background: #f4f4f4;
  border-radius: 10px;
  border: 1px solid #f11f19;
}
.enter-btns {
  border-radius: 10px !important;
  background: linear-gradient(
    180deg,
    #f11f19 0%,
    rgba(241, 31, 25, 0.77) 100%
  ) !important;
  color: #fff !important;
}

/* /sign up/ */

.name-inpts {
  border-radius: 10px !important;
  background: #f4f4f4;
  border-radius: 10px;
  border: 1px solid #f11f19;
}

.signin-btns {
  border-radius: 10px;
  border: 0.5px solid #282828;
  background: #fffbfa;
  border: 1px solid var(--Linear, #f11f19);
}

/* /forget pass/ */

/* this part uses sign in & sign up styles */

/* sign in , sign up , forget pass styles end  */

/* shop styles start  */
body {
  background-color: #dfd3c8 !important;
}
.filter-icon {
  width: 24px;
  height: 24px;
}
.rial-image {
  height: 12px;
  width: 12px;
}
.filter-search-icon {
  width: 16px;
  height: 16px;
}
a {
  text-decoration: none !important;
  color: #4e4e4e !important;
}
.background-color-main {
  background-color: #f11f19 !important;
  color: white !important;
}
.product-cards {
  background: #fffbfa;
  box-shadow: 0px 0px 2.5px 0px rgba(0, 0, 0, 0.25);
  margin-left: 0px;
  margin-right: 0px;
}
.spilet-photo {
  width: 100%;
  border-radius: 20px;
  padding: 5px;
}
.star-icon {
  width: 10px;
  height: 10px;
}
.back-to-top-btn {
  transform: rotate(90deg);
}
.col-md-4 {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .spilet-photo {
    width: 40%;
  }
  .product-cards {
    display: flex;
  }
  .color-in-sm {
    background: linear-gradient(
      180deg,
      #fffbfa 0%,
      rgba(255, 251, 250, 0) 100%
    ) !important;
  }
  .section-one {
    padding-top: 0 !important;
  }
  .spilet-photo {
    border: #f11f19 solid 1px;
  }
}
/* shop styles end  */

/* single pro styles start  */
.text-colors {
  color: #9e9e9e;
}
.second-color-sp {
  color: #f11f19 !important;
  background-color: #fff !important;
}
a {
  text-decoration: none !important;
  color: #4e4e4e !important;
}
.background-color-main {
  background-color: #f11f19 !important;
  color: white !important;
}
.side-shop-item {
  width: 24px !important;
  height: 24px !important;
  display: block;
  margin-top: 20px;
}
.star-icon {
  width: 10px;
  height: 10px;
}
.product-items-info {
  color: #9e9e9e;
  padding: 5px 10px;
}
.product-items-info li {
  margin: 10px 0px;
  padding: 2px 0px;
}
.arrow-right {
  width: 10px;
  height: 10px;
}
.title {
  color: #282828 !important;
}
.add-button {
  color: #fff !important;
  background-color: #f11f19 !important;
  height: 30px !important;
  font-size: 14px !important;
}
.spilet-photo {
  width: 90%;
}
.trust-icons {
  width: 44px;
  height: 44px;
}
.same-products {
  border-bottom: #f11f19 4px solid;
  width: 90px;
}
.rial-image {
  height: 12px;
  width: 12px;
}
.attachment-icon {
  width: 24px;
  height: 24px;
}
.border-bottom-red {
  border-bottom: #f11f19 3px solid;
}
.taps-icon {
  width: 24px;
  height: 24px;
}
.details-card {
  border-radius: 8px;
  background: rgba(217, 217, 217, 0.3);
}
.spilet-photo-kala {
  width: 100%;
}
.arrow-right-pointy {
  width: 24px;
  height: 24px;
}
.sm-buttons {
  width: 18px;
  height: 18px;
}
.dots-icon {
  width: 4px;
  height: 4px;
}
.border-danger {
  border-bottom: #f11f19 4px solid !important;
}
.sticky-part-sm {
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(241, 31, 25, 0.2),
    0px 4px 4px 0px rgba(241, 31, 25, 0.3) inset;
}
@media screen and (max-width: 768px) {
  .spilet-photo-kala {
    width: 50%;
    border-radius: 25px !important;
    border: #f11f19 3px solid !important;
  }
  .part-two {
    padding: 0 !important;
  }
  .border-top-0 {
    margin: auto 0 !important;
  }
  .border-bottom-0 {
    border: none !important;
  }
  .section-one-container {
    padding: 0px 20px !important;
  }
}
.minus,
.plus:hover {
  cursor: pointer;
}
.minus,
.plus {
  width: 20px;
  height: 20px;
  background: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
input .add-sub {
  height: 34px;
  width: 100px;
  text-align: center;
  font-size: 26px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}
/* single pro styles end  */

/* blog styles start  */
body {
  background: #dfd3c8;
}
.white-color {
  background: #fff !important;
}
.arrow-right {
  width: 10px;
  height: 10px;
}
.border-danger-color {
  border-bottom: #f11f19 4px solid !important;
}
.main-color {
  background-color: #f11f19 !important;
}
.spilet-pic {
  width: 50%;
}
.pages-btns {
  background-color: #fff !important;
  border: #f11f19 1px solid !important;
}
.pages-btns:active {
  background-color: #f11f19 !important;
  border: #fff 1px solid !important;
}
.section-three-background {
  border-radius: 40px;
  border: 1px solid #adadad;
  background: #c3c3c3;
}
.spilet-phtoto-brand {
  width: 96px;
  height: 96px;
  border: #f11f19 1px solid;
  border-radius: 25px;
}
.back-to-top-btn {
  transform: rotate(90deg);
}
.background-color-btn {
  background-color: #f11f19 !important;
}
@media screen and (max-width: 768px) {
  .brands-compaire {
    flex-direction: column !important;
  }
}
@media screen and (min-width: 768px) {
  .col-section-one {
    width: 32% !important;
  }
}
/* blog styles end  */

/* single blog styles start  */
body {
  background: #dfd3c8;
}
a {
  color: #fff !important;
}
.section-one-sb {
  height: 443px;
  max-width: 1400px;
  border-radius: 40px;
  background: #f11f19;
}
.box-shadow-container {
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(251, 84, 29, 0.25) inset;
}
.white-color {
  background-color: #fff;
}
.pic-borders {
  border: #f11f19 2px solid;
}
.back-to-top-btn {
  transform: rotate(90deg);
}
/* single blog styles end  */

/* contact us styles start  */
body {
  background: #dfd3c8;
}
.gray-back {
  border-radius: 40px;
  background: #c3c3c3;
}
.red-back {
  border-radius: 40px;
  background: #f11f19;
  height: 443px;
}
.white-back {
  background-color: #fff !important;
}
.info-cards {
  border-radius: 30px;
  border: 1px solid #282828;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 40px 10px;
}
.contact-part {
  max-width: 1266px;
  background-color: #fff !important;
  border-radius: 40px;
  box-shadow: 0px 0px 30px 0px rgba(241, 31, 25, 0.3) inset;
}
.sec-one-con {
  max-width: 1266px !important;
  border-radius: 40px;
}
.inputs-shape {
  border-radius: 10px;
  background: #f4f4f4;
  height: 50px;
  max-width: 400px;
}
.inputs-g {
  width: inherit;
}
.req-input {
  height: 276px;
  width: 211px !important;
  border-radius: 10px;
  background: #f4f4f4;
}
.category-btns {
  border-radius: 10px !important;
  background: #f4f4f4 !important;
  color: #282828 !important;
}
@media screen and (max-width: 992px) {
  .text-size-sm {
    font-size: 10px;
    padding: 10px !important;
  }
}
/* contact us styles end  */
